img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  width: 1128px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image:hover {
  transform: scale(1.04);
}
