@import url('form-styles.css');
@import url('gallery-styles.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fff;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;
}

.back-link {
  display: block;
  margin-bottom: 50px;
}

.page-link {
  font-size: 40px;
}
